
@{
    ViewBag.Title = "ProfileUpdateSuccess";
}

<h2>Profile Updated Successfully</h2>

<div class="jumbotron">
    <h1>Profile Updated Successfully</h1>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <label class="container"></label>
            <div class="col-md-2">
                <p><a href="@Url.Action("PatientLogin","Patient")" class="btn btn-primary btn-lg">Go Back</a></p>
            </div>
        </div>
    </div>
</div>


