@{
    ViewBag.Title = "";
}
<div class="jumbotron">
    <h2>Message Send @ViewBag.MessageSend</h2>
    <div class="row">
        <div class="col-md-4">
            <h3> </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="container"></label>
            <div class="col-md-2">
                <p><a href="@Url.Action("SupplierLogin","Supplier")" class="btn btn-primary btn-lg">Go Back</a></p>
            </div>
        </div>
    </div>
</div>